<!-- Navbar  Start -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light mr-auto">
    <a class="navbar-brand" href="#"><i class="fas fa-ribbon"></i> 放課後デイサービスりぼん</a>

    <!-- humbager menu Start -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            <span></span>
            <span></span>
            <span></span>
    </span>
    <!-- humbager menu End -->

        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav  ml-auto">
                <a class="nav-item nav-link active mr-3 text-center" href="#"><%= image_tag "icon/home.png", class: "icon_size" %>Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link mr-3 text-center" href="#"><%= image_tag "icon/blog.png", class:  "icon_size" %> Blog</a>
                <a class="nav-item nav-link mr-3 text-center" href="#"><%= image_tag "icon/tumiki.png", class:  "icon_size" %>Curriculum</a>
                <a class="nav-item nav-link mr-3 text-center" href="#"><%= image_tag "icon/email", class: "icon_size" %>About</a>
                <a class="nav-item nav-link mr-3 text-center" href="#"><%= image_tag "icon/day.png", class: "icon_size" %>Info</a>
                <a class="nav-item nav-link mr-3 text-center " href="#"><%= image_tag "icon/blog.png", class: "icon_size" %>Inquiry</a>
            </div>
    </div>
</nav>
<!-- Navbar humbager menu  End-->
