<!DOCTYPE html>
  <html lang="ja">
    <head>
      <title>blog</title>
          <%= csrf_meta_tags %>
          <%= csp_meta_tag %>
          <%= stylesheet_pack_tag 'application' %>
          <%= javascript_pack_tag 'application',
                                    'data-turbolinks-track': 'reload' %>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <%= render 'layouts/render/shim' %>
          <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">
    </head> 
    <body>
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <%= render 'layouts/render/header' %>
                <div id="contents">
                  <%= yield %>
                </div>
              <%= render 'layouts/render/footer' %>
          </div>
      </div>
    </div>
    <!-- Template Javascript -->
    <script src="https://kit.fontawesome.com/c9949600a4.js" crossorigin="anonymous"></script>
  </body>
</html>

